// 
// Wire
// Copyright (C) 2016 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
// 




#include "Warnings.xcconfig"
#include "Version.xcconfig"
#include "../wire-ios-build-assets/Base_private.xcconfig"


// Packaging
//
PRODUCT_NAME = $(TARGET_NAME)
INFOPLIST_EXPAND_BUILD_SETTINGS = YES


// Deployment
//
SKIP_INSTALL = NO



// Build Options
//
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym


// Search Paths
//
LIBRARY_SEARCH_PATHS_common = $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_common)

HEADER_SEARCH_PATHS_common = "$(TARGET_BUILD_DIR)/usr/local/lib/include" "$(OBJROOT)/UninstalledProducts/include" "$(SDKROOT)/usr/include/libxml2"
HEADER_SEARCH_PATHS = $(inherited) $(HEADER_SEARCH_PATHS_common)


// LLVM compiler - Language
GCC_PRECOMPILE_PREFIX_HEADER = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_BITCODE = NO

// LLVM compiler - Preprocessing
//
// Turn off analytics & Hockey for the simulator
GCC_PREPROCESSOR_DEFINITIONS_BASE = NDEBUG NVALGRIND
GCC_PREPROCESSOR_DEFINITIONS = ${inherited} ${GCC_PREPROCESSOR_DEFINITIONS_BASE} DEBUG=0

GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = ${inherited} ${GCC_PREPROCESSOR_DEFINITIONS_BASE} IOS USE_HOCKEY=0
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = ${inherited} ${GCC_PREPROCESSOR_DEFINITIONS_BASE} IOS USE_HOCKEY=1

