// 
// Wire
// Copyright (C) 2016 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
// 


#include "Base.xcconfig"
#include "../wire-ios-build-assets/Development_private.xcconfig"


// Code Signing
//
CODE_SIGN_IDENTITY = iPhone Developer

DEVELOPMENT_TEAM = W5KEQBF9B5
PROVISIONING_PROFILE_SPECIFIER_APP = Wire Alpha Development
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXT = Wire Alpha Development Share Ext
PROVISIONING_PROFILE_SPECIFIER_IMGNOTIFICATION_EXT = Wire Alpha Development Image Notification

CODE_SIGN_ENTITLEMENTS_APP = Wire-iOS/Entitlements-Dev.entitlements
CODE_SIGN_ENTITLEMENTS_SHARE_EXT = Wire-Sharing-Extension-iOS/Wire-Sharing-Extension-iOS.entitlements



//Bundle ID and Version number
WIRE_BUNDLE_ID = com.wearezeta.zclient-alpha
WIRE_BUILD_NUMBER = 999999



//Icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Debug



// Architectures
//
ONLY_ACTIVE_ARCH = YES



// Build Options
//
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym



// Deployment
//
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO



// Code Generation
//
GCC_OPTIMIZATION_LEVEL = 0



// LLVM compiler - Preprocessing
//
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_BASE) DEBUG=1 USE_HOCKEY=0 DYNAMIC_ANNOTATIONS_ENABLED=1 WTF_USE_DYNAMIC_ANNOTATIONS=1 _DEBUG

// Flags:
// FT - feature toggle
//
// ENABLE_DEVELOPER_MENU - Enabled developer menu from self profile -> settings
// WIRESTAN - Enabled the fake country in the phone number selection


// No analytics / Hockey for Debug builds:
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = ${inherited} ${GCC_PREPROCESSOR_DEFINITIONS_BASE} IOS USE_HOCKEY=0 ENABLE_DEVELOPER_MENU=1 USE_ANALYTICS=0 LOG_LEVEL_CONFIG=0xFFFFFFFF WIRESTAN=1 YOUTUBE_API_KEY=$(YOUTUBE_KEY) VIMEO_API_KEY=$(VIMEO_KEY) VIMEO_API_SECRET=$(VIMEO_SECRET) ANALYTICS_API_KEY=$(ANALYTICS_KEY) HOCKEY_APP_ID_KEY=$(HOCKEY_APP_ID)

GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = ${inherited} ${GCC_PREPROCESSOR_DEFINITIONS_BASE} IOS USE_HOCKEY=0 ENABLE_DEVELOPER_MENU=1 USE_ANALYTICS=1 LOG_LEVEL_CONFIG=0xFFFFFFFF WIRESTAN=1 YOUTUBE_API_KEY=$(YOUTUBE_KEY) VIMEO_API_KEY=$(VIMEO_KEY) VIMEO_API_SECRET=$(VIMEO_SECRET) ANALYTICS_API_KEY=$(ANALYTICS_KEY) HOCKEY_APP_ID_KEY=$(HOCKEY_APP_ID)
