// 
// Wire
// Copyright (C) 2016 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
// 


#include "Base.xcconfig"
#include "../wire-ios-build-assets/Release_private.xcconfig"


//Code Signature
//
CODE_SIGN_IDENTITY = iPhone Distribution: Wire Swiss GmbH (EDF3JCE8BC)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution: Wire Swiss GmbH (EDF3JCE8BC)

DEVELOPMENT_TEAM = EDF3JCE8BC
PROVISIONING_PROFILE_SPECIFIER_APP = iOS Store Distribution com.wearezeta.zclient.ios
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXT = iOS Store Share Extension
PROVISIONING_PROFILE_SPECIFIER_IMGNOTIFICATION_EXT = iOS Store Image Provisioning Profile


CODE_SIGN_ENTITLEMENTS_APP = Wire-iOS/Entitlements-Prod.entitlements
CODE_SIGN_ENTITLEMENTS_SHARE_EXT = Wire-Sharing-Extension-iOS/Wire-Sharing-Extension-iOS.entitlements


//Bundle stuff
//
WIRE_BUNDLE_ID = com.wearezeta.zclient.ios
WIRE_BUILD_NUMBER =
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon



// Deployment
//
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES



//Build options
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

OTHER_CFLAGS = ${inherited} -Wno-unused-variable -Wno-macro-redefined


// LLVM compiler - Preprocessing
//
// Turn off analytics & Hockey for the simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = ${inherited} ${GCC_PREPROCESSOR_DEFINITIONS_BASE} IOS USE_ANALYTICS=1 USE_HOCKEY=1 ENABLE_DEVELOPER_MENU=0 ENABLE_SIGNOUT=0 LOG_LEVEL_CONFIG=0x411 DYNAMIC_ANNOTATIONS_ENABLED=0 YOUTUBE_API_KEY=$(YOUTUBE_KEY) VIMEO_API_KEY=$(VIMEO_KEY) VIMEO_API_SECRET=$(VIMEO_SECRET) ANALYTICS_API_KEY=$(ANALYTICS_KEY) HOCKEY_APP_ID_KEY=$(HOCKEY_APP_ID)

GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = ${inherited} ${GCC_PREPROCESSOR_DEFINITIONS_BASE} IOS USE_ANALYTICS=0 USE_HOCKEY=0 ENABLE_DEVELOPER_MENU=0 ENABLE_SIGNOUT=0 LOG_LEVEL_CONFIG=0x411 DYNAMIC_ANNOTATIONS_ENABLED=0 YOUTUBE_API_KEY=$(YOUTUBE_KEY) VIMEO_API_KEY=$(VIMEO_KEY) VIMEO_API_SECRET=$(VIMEO_SECRET) ANALYTICS_API_KEY=$(ANALYTICS_KEY) HOCKEY_APP_ID_KEY=$(HOCKEY_APP_ID)
