.DS_Store
zsyncTests/OCMock/OCMock.xcodeproj/xcuserdata
zmessaging-cocoa.xcodeproj/project.xcworkspace/xcuserdata
zmessaging-cocoa.xcodeproj/xcuserdata
xcuserdata
*.xccheckout
*.xcscmblueprint
workspace.xml
*.pyc
Carthage
zmessaging.framework.zip
build

# Test artefacts
xcode-*.log
tests.xml
code-coverage/*
cobertura.xml
