wire-ios-share-engine.xcodeproj/xcuserdata
wire-ios-share-engine.xcodeproj/project.xcworkspace/xcuserdata
tests.xml
xcode-summary.log
cobertura.xml
WireShareEngine.framework.zip
.DS_Store


# Carthage

Carthage/*

# Test artefacts
build/
xcode-*.log
tests.xml
code-coverage/*
cobertura.xml
*.xcscmblueprint
