*.generated.swift linguist-generated=true
*/Tests/**/Resources/ReferenceImages/**/*.png filter=lfs diff=lfs merge=lfs -text
wire-ios/Wire-iOS[[:space:]]Tests/ReferenceImages/**/*.png filter=lfs diff=lfs merge=lfs -text
