*.generated.swift linguist-generated=true
WireUI/Tests/WireReusableUIComponentsTests/Resources/ReferenceImages/**/*.png filter=lfs diff=lfs merge=lfs -text
WireFoundation/Tests/WireFoundationTests/Resources/ReferenceImages/**/*.png filter=lfs diff=lfs merge=lfs -text
