*.generated.swift linguist-generated=true
WireFoundation/Tests/*/Resources/ReferenceImages/**/*.png filter=lfs diff=lfs merge=lfs -text
WireUI/Tests/*/Resources/ReferenceImages/**/*.png filter=lfs diff=lfs merge=lfs -text
