xcuserdata
project.xcworkspace
DerivedData
*.xccheckout
.DS_Store
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.swp
xcuserdata
*.moved-aside
.idea/
Pods
Podfile.lock
contents.xcworkspacedata
Carthage/
*.xcuserstate
*.xcscmblueprint
Wire-iOS/ComponentsVersions.plist
/Libraries
/ConfigurationSets/Private
/ConfigurationSets/Development_private.xcconfig
