--exclude **/.build,**/Carthage,**/DerivedData,**.generated.swift,wire-ios-protos/Protos/**,**+Generated.swift,wire-ios/Templates/**

--rules \
    andOperator, \
    anyObjectProtocol, \
    applicationMain, \
    assertionFailures, \
    blankLineAfterImports, \
    blankLinesAroundMark, \
    blankLinesAtEndOfScope, \
    blankLinesAtStartOfScope, \
    blankLinesBetweenChainedFunctions, \
    blankLinesBetweenScopes, \
    braces, \
    conditionalAssignment, \
    consistentSwitchCaseSpacing, \
    duplicateImports, \
    elseOnSameLine, \
    emptyBraces, \
    enumNamespaces, \
    extensionAccessControl, \
    genericExtensions, \
    hoistAwait, \
    hoistPatternLet, \
    hoistTry, \
    indent, \
    initCoderUnavailable, \
    leadingDelimiters, \
    linebreakAtEndOfFile, \
    linebreaks, \
    modifierOrder, \
    numberFormatting, \
    opaqueGenericParameters, \
    preferForLoop, \
    preferKeyPath, \
    redundantBackticks, \
    redundantBreak, \
    redundantClosure, \
    redundantExtensionACL, \
    redundantFileprivate, \
    redundantGet, \
    redundantInit, \
    redundantInternal, \
    redundantLet, \
    redundantLetError, \
    redundantNilInit, \
    redundantObjc, \
    redundantOptionalBinding, \
    redundantParens, \
    redundantRawValues, \
    redundantReturn, \
    # redundantSelf, \ TODO
    redundantStaticSelf, \
    redundantType, \
    redundantTypedThrows, \
    redundantVoidReturnType, \
    semicolons, \
    # sortDeclarations, \ TODO
    sortImports, \
    sortTypealiases, \
    spaceAroundBraces, \
    spaceAroundBrackets, \
    spaceAroundComments, \
    spaceAroundGenerics, \
    spaceAroundOperators, \
    spaceAroundParens, \
    spaceInsideBraces, \
    spaceInsideBrackets, \
    spaceInsideComments, \
    spaceInsideGenerics, \
    spaceInsideParens, \
    strongOutlets, \
    strongifiedSelf, \
    todos, \
    trailingClosures, \
    trailingCommas, \
    trailingSpace, \
    typeSugar, \
    unusedArguments, \
    void, \
    wrap, \
    wrapArguments, \
    wrapAttributes, \
    wrapLoopBodies, \
    wrapSingleLineComments, \
    yodaConditions, \
    # OPTIONAL
    blockComments

# Options

--lineaftermarks true # blankLinesAroundMark
--typeblanklines remove # blankLinesAtStartOfScope
--allman false # braces
--condassignment after-property # conditionalAssignment
--elseposition same-line # elseOnSameLine
--guardelse auto # elseOnSameLine
--emptybraces no-space # emptyBraces
--enumnamespaces always # enumNamespaces
--extensionacl on-declarations # extensionAccessControl
--patternlet hoist # hoistPatternLet
--indent 4 # indent
--anonymousforeach ignore # preferForLoop
# --self init-only # redundantSelf TODO
--redundanttype inferred # redundantType
--importgrouping testable-last # sortImports
--stripunusedargs unnamed-only # unusedArguments
--maxwidth 120 # wrap
--wraparguments before-first # wrapArguments
--wrapparameters before-first # wrapArguments
--wrapcollections before-first # wrapArguments
--callsiteparen balanced # wrapArguments
--funcattributes prev-line # wrapAttributes
--typeattributes prev-line # wrapAttributes
--storedvarattrs same-line # wrapAttributes
--computedvarattrs same-line # wrapAttributes
--complexattrs prev-line # wrapAttributes
