--exclude Carthage, DerivedData

--enable acronyms
--enable blankLineAfterSwitchCase
--disable hoistTry

--extensionacl on-declarations
--ifdef outdent
--stripunusedargs unnamed-only
--patternlet inline

--commas inline
--typeblanklines preserve
