github "wireapp/wire-ios-cryptobox" ~> 28.0.1
github "wireapp/wire-ios-protos" ~> 28.0.1
github "wireapp/wire-ios-images" ~> 36.0.0
github "wireapp/PINCache" "2.3-xcframework"
github "wireapp/wire-ios-transport" ~> 78.0.2
github "wireapp/wire-ios-link-preview" ~> 32.0.1
