github "wireapp/countly-sdk-ios" "23.02.3"
github "wireapp/cryptobox-ios" "v1.1.0_xcframework_arm64simulator"
github "wireapp/libsodium" "1.0.14"
github "wireapp/ZipArchive" "v2.4.2"
github "wireapp/libPhoneNumber-iOS" "1.1"
github "wireapp/ocmock" "v3.4.3_Xcode14.3.1"
github "wireapp/core-crypto" "v1.0.2"
binary "wire-avs.json"
