<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>framework</key>
	<dict>
		<key>input_field_background_color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.4</real>
		</array>
	</dict>
	<key>system_status_bar</key>
	<dict>
		<key>expanded_height</key>
		<integer>20</integer>
		<key>collapsed_height</key>
		<integer>2</integer>
		<key>loading_gap_size</key>
		<dict>
			<key>ipad</key>
			<integer>48</integer>
			<key>iphone</key>
			<integer>24</integer>
		</dict>
		<key>loading_gap_animation_duration</key>
		<real>2.1</real>
		<key>startup_delay</key>
		<real>0.5</real>
		<key>expand_animation</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>delay</key>
			<integer>0</integer>
			<key>curve</key>
			<string>spring</string>
			<key>spring_velocity</key>
			<real>12</real>
			<key>spring_damping</key>
			<real>1.2</real>
		</dict>
		<key>collapse_animation</key>
		<dict>
			<key>delay_after_expand</key>
			<integer>2</integer>
			<key>duration</key>
			<real>0.4</real>
			<key>delay</key>
			<integer>0</integer>
			<key>curve</key>
			<string>ease_out</string>
		</dict>
		<key>hide_animation</key>
		<dict>
			<key>curve</key>
			<string>ease_in_out</string>
			<key>delay</key>
			<integer>0</integer>
			<key>duration</key>
			<real>0.4</real>
		</dict>
		<key>warning_background_color</key>
		<array>
			<integer>1</integer>
			<real>0.6863</real>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>warning_font_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>warning_font</key>
		<dict>
			<key>font</key>
			<string>System-Medium</string>
			<key>size</key>
			<integer>11</integer>
		</dict>
		<key>activity_spinner</key>
		<dict>
			<key>step_duration</key>
			<real>2</real>
			<key>size</key>
			<integer>45</integer>
			<key>color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>accent_colors</key>
	<array>
		<array>
			<real>0.141</real>
			<real>0.552</real>
			<real>0.827</real>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<real>0.784</real>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<real>0.996</real>
			<real>0.749</real>
			<real>0.007</real>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<real>0.152</real>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<real>0.537</real>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<real>0.996</real>
			<real>0.368</real>
			<real>0.741</real>
			<integer>1</integer>
		</array>
		<array>
			<real>0.615</real>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</array>
</dict>
</plist>
