<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>style</key>
	<dict>
		<key>text</key>
		<dict>
			<key>large</key>
			<dict>
				<key>font_spec</key>
				<dict>
					<key>font</key>
					<string>System-Light</string>
					<key>size</key>
					<real>28</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_regular</key>
				<dict>
					<key>font</key>
					<string>System</string>
					<key>size</key>
					<real>28</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_bold</key>
				<dict>
					<key>font</key>
					<string>System-Medium</string>
					<key>size</key>
					<real>28</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_medium</key>
				<dict>
					<key>font</key>
					<string>System-Light-Semibold</string>
					<key>size</key>
					<real>28</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_light</key>
				<dict>
					<key>font</key>
					<string>System-Light</string>
					<key>size</key>
					<real>28</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_thin</key>
				<dict>
					<key>font</key>
					<string>System-Thin</string>
					<key>size</key>
					<real>28</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>self</key>
	<dict>
		<key>content_insets</key>
		<array>
			<integer>64</integer>
			<integer>96</integer>
			<integer>64</integer>
			<string>96</string>
		</array>
		<key>library_button_size</key>
		<real>24</real>
		<key>settings_accent_color_tip</key>
		<dict>
			<key>bottom_margin</key>
			<integer>52</integer>
		</dict>
	</dict>
	<key>content</key>
	<dict>
		<key>left_margin</key>
		<integer>96</integer>
		<key>right_margin</key>
		<integer>96</integer>
	</dict>
	<key>participants</key>
	<dict>
		<key>stroke_color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.32</real>
		</array>
		<key>font_color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.32</real>
		</array>
	</dict>
	<key>one_message</key>
	<dict>
		<key>bottom_gradient_height</key>
		<integer>104</integer>
		<key>top_gradient_height</key>
		<integer>104</integer>
		<key>overlay_left_margin</key>
		<integer>48</integer>
		<key>overlay_right_margin</key>
		<integer>48</integer>
		<key>button_size</key>
		<integer>24</integer>
	</dict>
	<key>people_picker</key>
	<dict>
		<key>stroke_color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>search_results_mode</key>
		<dict>
			<key>tile_width</key>
			<integer>0</integer>
			<key>context_add_people</key>
			<dict>
				<key>name_label_font_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
			</dict>
		</dict>
		<key>search_results_empty</key>
		<dict>
			<key>action_button</key>
			<dict>
				<key>highlighted_color_overlay</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<real>0.24</real>
				</array>
				<key>border_color</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>1</integer>
				</array>
			</dict>
			<key>action_title</key>
			<dict>
				<key>text_color</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>1</integer>
				</array>
			</dict>
		</dict>
	</dict>
	<key>framework</key>
	<dict>
		<key>sidebar_width</key>
		<integer>336</integer>
	</dict>
	<key>connect</key>
	<dict>
		<key>title</key>
		<dict>
			<key>font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>message</key>
		<dict>
			<key>font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>media_bar</key>
	<dict>
		<key>height</key>
		<integer>44</integer>
		<key>button_horizontal_inset</key>
		<integer>32</integer>
	</dict>
	<key>bottom_overlay</key>
	<dict>
		<key>overlay_height</key>
		<integer>104</integer>
	</dict>
	<key>voice_overlay</key>
	<dict>
		<key>full_mode</key>
		<dict>
			<key>bottom_buttons_top_margin</key>
			<integer>20</integer>
			<key>bar_height</key>
			<integer>128</integer>
		</dict>
	</dict>
	<key>input</key>
	<dict>
		<key>tools</key>
		<dict>
			<key>left_margin</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>sketchpad</key>
	<dict>
		<key>color_picker</key>
		<dict>
			<key>top_margin</key>
			<integer>3</integer>
			<key>left_margin</key>
			<integer>160</integer>
			<key>right_margin</key>
			<integer>160</integer>
		</dict>
	</dict>
</dict>
</plist>
