<?xml version='1.0' encoding='UTF-8'?> 
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version='1.0'>
  <dict>
    <key>address_book</key>
    <dict>
      <key>tile_width</key>
      <integer>370</integer>
    </dict>
    <key>participants</key>
    <dict>
      <key>tile_image_diameter</key>
      <integer>96</integer>
      <key>tile_width</key>
      <integer>96</integer>
      <key>tile_height</key>
      <integer>132</integer>
    </dict>
    <key>style</key>
    <dict>
      <key>text</key>
      <dict>
        <key>large</key>
        <dict>
          <key>font_spec</key>
          <dict>
            <key>font</key>
            <string>System-Light</string>
            <key>size</key>
            <real>28.0</real>
            <key>number_style</key>
            <string>regular</string>
            <key>number_spacing</key>
            <string>proportional</string>
          </dict>
          <key>font_spec_regular</key>
          <dict>
            <key>font</key>
            <string>System</string>
            <key>size</key>
            <real>28.0</real>
            <key>number_style</key>
            <string>regular</string>
            <key>number_spacing</key>
            <string>proportional</string>
          </dict>
          <key>font_spec_bold</key>
          <dict>
            <key>font</key>
            <string>System-Medium</string>
            <key>size</key>
            <real>28.0</real>
            <key>number_style</key>
            <string>regular</string>
            <key>number_spacing</key>
            <string>proportional</string>
          </dict>
          <key>font_spec_medium</key>
          <dict>
            <key>font</key>
            <string>System-Light-Semibold</string>
            <key>size</key>
            <real>28.0</real>
            <key>number_style</key>
            <string>regular</string>
            <key>number_spacing</key>
            <string>proportional</string>
          </dict>
          <key>font_spec_light</key>
          <dict>
            <key>font</key>
            <string>System-Light</string>
            <key>size</key>
            <real>28.0</real>
            <key>number_style</key>
            <string>regular</string>
            <key>number_spacing</key>
            <string>proportional</string>
          </dict>
          <key>font_spec_thin</key>
          <dict>
            <key>font</key>
            <string>System-Thin</string>
            <key>size</key>
            <real>28.0</real>
            <key>number_style</key>
            <string>regular</string>
            <key>number_spacing</key>
            <string>proportional</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>
