<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connect</key>
	<dict>
		<key>max_request_message_length</key>
		<integer>140</integer>
		<key>corner_radius</key>
		<integer>4</integer>
		<key>pending_label_font</key>
		<dict>
			<key>font</key>
			<string>System-Medium</string>
			<key>size</key>
			<real>11</real>
		</dict>
		<key>separator_color</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>0.08</real>
		</array>
		<key>title</key>
		<dict>
			<key>font_color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>message</key>
		<dict>
			<key>font_color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>email</key>
		<dict>
			<key>font_color</key>
			<array>
				<real>0.141</real>
				<real>0.552</real>
				<real>0.827</real>
				<integer>1</integer>
			</array>
		</dict>
		<key>cancel_button_in_title_size</key>
		<integer>30</integer>
		<key>cancel_button_in_title_color</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<integer>1</integer>
		</array>
		<key>cancel_button_in_header_size</key>
		<integer>20</integer>
		<key>cancel_button_in_header_color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.32</real>
		</array>
		<key>requests_fullscreen_revealed_next_height</key>
		<integer>46</integer>
		<key>connect_button</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>text_transform</key>
			<string>UPPER</string>
			<key>font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>background_color</key>
			<array>
				<string>accent_red</string>
				<string>accent_green</string>
				<string>accent_blue</string>
				<integer>1</integer>
			</array>
			<key>corner_radius</key>
			<integer>4</integer>
			<key>label_horizontal_padding</key>
			<integer>8</integer>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>ignore_button</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>text_transform</key>
			<string>UPPER</string>
			<key>font_color</key>
			<array>
				<string>accent_red</string>
				<string>accent_green</string>
				<string>accent_blue</string>
				<integer>1</integer>
			</array>
			<key>background_color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>border_width</key>
			<integer>1</integer>
			<key>border_color</key>
			<array>
				<string>accent_red</string>
				<string>accent_green</string>
				<string>accent_blue</string>
				<integer>1</integer>
			</array>
			<key>corner_radius</key>
			<integer>4</integer>
			<key>label_horizontal_padding</key>
			<integer>8</integer>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>sender_send_button</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>text_transform</key>
			<string>UPPER</string>
			<key>font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>background_color</key>
			<array>
				<string>accent_red</string>
				<string>accent_green</string>
				<string>accent_blue</string>
				<integer>1</integer>
			</array>
			<key>corner_radius</key>
			<integer>4</integer>
			<key>label_horizontal_padding</key>
			<integer>8</integer>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>sender_cancel_button</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>text_transform</key>
			<string>UPPER</string>
			<key>font_color</key>
			<array>
				<string>accent_red</string>
				<string>accent_green</string>
				<string>accent_blue</string>
				<integer>1</integer>
			</array>
			<key>background_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>border_width</key>
			<integer>2</integer>
			<key>border_color</key>
			<array>
				<string>accent_red</string>
				<string>accent_green</string>
				<string>accent_blue</string>
				<integer>1</integer>
			</array>
			<key>corner_radius</key>
			<integer>4</integer>
			<key>width</key>
			<integer>112</integer>
			<key>label_horizontal_padding</key>
			<integer>8</integer>
		</dict>
		<key>sender_button_background_color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>sender_tile</key>
		<dict>
			<key>stroke_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>stroke_width</key>
			<integer>0</integer>
			<key>tile_dimension</key>
			<integer>32</integer>
			<key>tile_image_diameter</key>
			<integer>32</integer>
			<key>user_initials_font</key>
			<dict>
				<key>font</key>
				<string>System-Thin</string>
				<key>size</key>
				<integer>80</integer>
			</dict>
			<key>user_initials_font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>notifications</key>
	<dict>
		<key>user_initials_font</key>
		<dict>
			<key>font</key>
			<string>System-Light</string>
			<key>size</key>
			<integer>11</integer>
		</dict>
		<key>user_initials_font_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>voice_overlay</key>
	<dict>
		<key>connecting_animation_rotation_duration</key>
		<integer>2</integer>
		<key>voice_gain_tile_circles</key>
		<array>
			<dict>
				<key>alpha</key>
				<real>0.2</real>
				<key>scale</key>
				<real>1.214</real>
			</dict>
			<dict>
				<key>alpha</key>
				<real>0.3</real>
				<key>scale</key>
				<real>1.143</real>
			</dict>
			<dict>
				<key>alpha</key>
				<real>0.4</real>
				<key>scale</key>
				<real>1.071</real>
			</dict>
		</array>
		<key>user_image_view</key>
		<dict>
			<key>stroke_width</key>
			<integer>0</integer>
			<key>stroke_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>user_initials_font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>20</integer>
			</dict>
			<key>user_initials_font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>camera_overlay</key>
	<dict>
		<key>margin</key>
		<integer>24</integer>
		<key>top_bar</key>
		<dict>
			<key>height</key>
			<integer>56</integer>
		</dict>
		<key>bottom_bar</key>
		<dict>
			<key>height</key>
			<integer>88</integer>
		</dict>
		<key>exposure_slider_height</key>
		<integer>100</integer>
		<key>focus_ring</key>
		<dict>
			<key>autofocus</key>
			<dict>
				<key>start_size</key>
				<integer>140</integer>
				<key>end_size</key>
				<integer>100</integer>
			</dict>
			<key>tap_to_focus</key>
			<dict>
				<key>start_size</key>
				<integer>130</integer>
				<key>end_size</key>
				<integer>80</integer>
			</dict>
		</dict>
	</dict>
	<key>bottom_overlay</key>
	<dict>
		<key>overlay_height</key>
		<integer>88</integer>
		<key>background_color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.8</real>
		</array>
	</dict>
</dict>
</plist>
