<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>people_picker</key>
	<dict>
		<key>left_padding</key>
		<real>20</real>
		<key>right_padding</key>
		<real>20</real>
		<key>top_padding</key>
		<real>24</real>
		<key>bottom_padding</key>
		<real>24</real>
		<key>section_header</key>
		<dict>
			<key>background_color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>stroke_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>stroke_width</key>
		<integer>2</integer>
		<key>selected_stroke_color</key>
		<array>
			<string>accent_red</string>
			<string>accent_green</string>
			<string>accent_blue</string>
			<integer>1</integer>
		</array>
		<key>font_size</key>
		<integer>12</integer>
		<key>font</key>
		<string>System-Bold</string>
		<key>tile_image_diameter</key>
		<integer>56</integer>
		<key>name_label_height</key>
		<integer>10</integer>
		<key>tile_name_spacing</key>
		<dict>
			<key>default</key>
			<integer>7</integer>
		</dict>
		<key>tile_width</key>
		<integer>64</integer>
		<key>tile_height</key>
		<dict>
			<key>default</key>
			<integer>92</integer>
		</dict>
		<key>tile_horizontal_spacing</key>
		<integer>8</integer>
		<key>tile_vertical_spacing</key>
		<integer>0</integer>
		<key>name_label_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>text_transform</key>
		<string>UPPER</string>
		<key>user_initials_font</key>
		<dict>
			<key>font</key>
			<string>System-Light</string>
			<key>size</key>
			<real>11</real>
		</dict>
		<key>user_initials_font_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>top_conversations_mode</key>
		<dict>
			<key>stroke_width</key>
			<integer>2</integer>
			<key>tile_width</key>
			<integer>56</integer>
			<key>tile_height</key>
			<integer>78</integer>
			<key>person_tile_left_margin</key>
			<integer>0</integer>
			<key>tile_horizontal_spacing</key>
			<integer>0</integer>
			<key>tile_vertical_spacing</key>
			<integer>0</integer>
			<key>tile_name_vertical_spacing</key>
			<integer>8</integer>
			<key>tile_name_horizontal_spacing</key>
			<integer>0</integer>
			<key>tile_image_diameter</key>
			<integer>56</integer>
			<key>stroke_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>user_initials_font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>user_initials_font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>name_label_font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>context_create_conversation</key>
			<dict>
				<key>name_label_font_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>icon_tint_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
			</dict>
			<key>context_add_people</key>
			<dict>
				<key>name_label_font_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>icon_tint_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
			</dict>
			<key>name_label_text_transform</key>
			<string>UPPER</string>
			<key>left_padding</key>
			<real>24</real>
			<key>right_padding</key>
			<real>24</real>
			<key>top_padding</key>
			<real>0</real>
			<key>bottom_padding</key>
			<real>8</real>
		</dict>
		<key>search_results_mode</key>
		<dict>
			<key>stroke_width</key>
			<integer>2</integer>
			<key>tile_width</key>
			<integer>0</integer>
			<key>tile_height</key>
			<integer>52</integer>
			<key>person_tile_left_margin</key>
			<integer>24</integer>
			<key>person_tile_right_margin</key>
			<integer>24</integer>
			<key>person_tile_right_margin_drawer_open</key>
			<integer>36</integer>
			<key>tile_horizontal_spacing</key>
			<integer>0</integer>
			<key>tile_vertical_spacing</key>
			<integer>0</integer>
			<key>tile_name_vertical_spacing</key>
			<integer>0</integer>
			<key>tile_name_horizontal_spacing</key>
			<integer>20</integer>
			<key>tile_image_diameter</key>
			<integer>36</integer>
			<key>stroke_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>user_initials_font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>user_initials_font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>name_label_font</key>
			<dict>
				<key>font</key>
				<string>System-Light</string>
				<key>size</key>
				<integer>16</integer>
			</dict>
			<key>context_create_conversation</key>
			<dict>
				<key>name_label_font_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>icon_tint_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
			</dict>
			<key>context_add_people</key>
			<dict>
				<key>name_label_font_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>icon_tint_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
			</dict>
			<key>name_label_text_transform</key>
			<string></string>
			<key>left_padding</key>
			<integer>0</integer>
			<key>right_padding</key>
			<integer>0</integer>
			<key>top_padding</key>
			<integer>0</integer>
			<key>bottom_padding</key>
			<integer>0</integer>
		</dict>
		<key>search_results_empty</key>
		<dict>
			<key>action_button</key>
			<dict>
				<key>highlighted_color_overlay</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.24</real>
				</array>
				<key>corner_radius</key>
				<integer>32</integer>
				<key>height</key>
				<integer>64</integer>
				<key>width</key>
				<integer>64</integer>
				<key>border_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<real>0.4</real>
				</array>
				<key>border_width</key>
				<integer>1</integer>
			</dict>
			<key>action_title</key>
			<dict>
				<key>font</key>
				<dict>
					<key>font</key>
					<string>System-Medium</string>
					<key>size</key>
					<integer>12</integer>
				</dict>
				<key>text_color</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>transform</key>
				<string>UPPER</string>
			</dict>
		</dict>
	</dict>
	<key>address_book</key>
	<dict>
		<key>stroke_width</key>
		<integer>2</integer>
		<key>tile_width</key>
		<integer>320</integer>
		<key>tile_height</key>
		<integer>76</integer>
		<key>tile_image_diameter</key>
		<integer>64</integer>
		<key>person_tile_left_margin</key>
		<integer>24</integer>
		<key>tile_name_horizontal_spacing</key>
		<integer>20</integer>
		<key>stroke_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>user_initials_font</key>
		<dict>
			<key>font</key>
			<string>System-Light</string>
			<key>size</key>
			<integer>11</integer>
		</dict>
		<key>user_initials_font_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>name_label_font</key>
		<dict>
			<key>font</key>
			<string>System-Light</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
