<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>profile_temp</key>
	<dict>
		<key>content</key>
		<dict>
			<key>text_color</key>
			<array>
				<real>0.8</real>
				<real>0.8</real>
				<real>0.8</real>
				<integer>1</integer>
			</array>
		</dict>
		<key>content_top_margin</key>
		<integer>26</integer>
		<key>content_left_margin</key>
		<integer>16</integer>
		<key>content_right_margin</key>
		<integer>8</integer>
		<key>content_bottom_margin</key>
		<integer>12</integer>
		<key>content_line_padding</key>
		<integer>8</integer>
	</dict>
	<key>profile</key>
	<dict>
		<key>name_max_height</key>
		<integer>122</integer>
		<key>field_min_distance_form_input_accessory_view</key>
		<integer>20</integer>
		<key>name_field</key>
		<dict>
			<key>hint_dismiss_delay</key>
			<integer>10</integer>
			<key>padding_top</key>
			<integer>8</integer>
			<key>padding_left</key>
			<integer>6</integer>
			<key>padding_bottom</key>
			<integer>8</integer>
			<key>padding_right</key>
			<integer>6</integer>
			<key>corner_radius</key>
			<integer>4</integer>
			<key>background_color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>background_color_focused</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.12</real>
			</array>
			<key>focused_background_show_animation</key>
			<dict>
				<key>curve</key>
				<string>ease_in_out</string>
				<key>duration</key>
				<real>0.2</real>
				<key>delay</key>
				<integer>0</integer>
			</dict>
			<key>focused_background_hide_animation</key>
			<dict>
				<key>curve</key>
				<string>ease_in</string>
				<key>duration</key>
				<real>0.1</real>
				<key>delay</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>unblock_button</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<string>System-Medium</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>text_transform</key>
			<string>UPPER</string>
			<key>font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>background_color</key>
			<array>
				<string>accent_red</string>
				<string>accent_green</string>
				<string>accent_blue</string>
				<integer>1</integer>
			</array>
			<key>corner_radius</key>
			<integer>4</integer>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>user_image</key>
		<dict>
			<key>stroke_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>stroke_width</key>
			<integer>0</integer>
			<key>tile_dimension</key>
			<integer>32</integer>
			<key>tile_image_diameter</key>
			<integer>32</integer>
			<key>user_initials_font</key>
			<dict>
				<key>font</key>
				<string>System-Thin</string>
				<key>size</key>
				<integer>80</integer>
			</dict>
			<key>user_initials_font_color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>self</key>
	<dict>
		<key>content_insets</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<string>20</string>
		</array>
		<key>settings_button_size</key>
		<integer>32</integer>
		<key>close_button_size</key>
		<integer>32</integer>
		<key>settings_pic_tip</key>
		<dict>
			<key>text_transform</key>
			<string>UPPER</string>
		</dict>
		<key>settings_accent_color_tip</key>
		<dict>
			<key>text_transform</key>
			<string>UPPER</string>
			<key>bottom_margin</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>color_picker</key>
	<dict>
		<key>height</key>
		<integer>56</integer>
		<key>left_margin</key>
		<integer>20</integer>
		<key>right_margin</key>
		<integer>20</integer>
		<key>bottom_margin</key>
		<integer>0</integer>
	</dict>
	<key>camera</key>
	<dict>
		<key>button_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>gallery_button_tile_stroke_width</key>
		<real>1</real>
		<key>gallery_button_tile_stroke_color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.32</real>
		</array>
	</dict>
</dict>
</plist>
