<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>style</key>
	<dict>
		<key>color</key>
		<dict>
			<key>static_foreground</key>
			<dict>
				<key>normal</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>faded</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<real>0.4</real>
				</array>
			</dict>
			<key>foreground</key>
			<dict>
				<key>normal</key>
				<array>
					<real>0.2</real>
					<real>0.21</real>
					<real>0.22</real>
					<integer>1</integer>
				</array>
				<key>faded</key>
				<array>
					<real>0.2</real>
					<real>0.21</real>
					<real>0.22</real>
					<real>0.4</real>
				</array>
			</dict>
			<key>separator_line</key>
			<array>
				<real>0.55</real>
				<real>0.59</real>
				<real>0.62</real>
				<real>0.48</real>
			</array>
			<key>markdown</key>
			<dict>
				<key>bullet_point_color</key>
				<array>
					<real>0.8</real>
					<real>0.8</real>
					<real>0.8</real>
					<real>0.4</real>
				</array>
			</dict>
		</dict>
		<key>text</key>
		<dict>
			<key>large</key>
			<dict>
				<key>font_spec</key>
				<dict>
					<key>font</key>
					<string>System-Light</string>
					<key>size</key>
					<real>20</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_regular</key>
				<dict>
					<key>font</key>
					<string>System</string>
					<key>size</key>
					<real>20</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_bold</key>
				<dict>
					<key>font</key>
					<string>System-Medium</string>
					<key>size</key>
					<real>20</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_medium</key>
				<dict>
					<key>font</key>
					<string>System-Light-Semibold</string>
					<key>size</key>
					<real>20</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_light</key>
				<dict>
					<key>font</key>
					<string>System-Light</string>
					<key>size</key>
					<real>20</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_thin</key>
				<dict>
					<key>font</key>
					<string>System-Thin</string>
					<key>size</key>
					<real>20</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
			</dict>
			<key>normal</key>
			<dict>
				<key>font_spec_medium</key>
				<dict>
					<key>font</key>
					<string>System-Light-Semibold</string>
					<key>size</key>
					<integer>16</integer>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec</key>
				<dict>
					<key>font</key>
					<string>System-Light</string>
					<key>size</key>
					<integer>16</integer>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_bold</key>
				<dict>
					<key>font</key>
					<string>System-Medium</string>
					<key>size</key>
					<integer>16</integer>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_italic</key>
				<dict>
					<key>font</key>
					<string>System-LightItalic</string>
					<key>size</key>
					<integer>16</integer>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
				<key>font_spec_mono</key>
				<dict>
					<key>font</key>
					<string>Menlo</string>
					<key>size</key>
					<real>11</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
			</dict>
			<key>small</key>
			<dict>
				<key>font_spec</key>
				<dict>
					<key>font</key>
					<string>System</string>
					<key>size</key>
					<real>11</real>
					<key>number_spacing</key>
					<string>proportional</string>
					<key>number_style</key>
					<string>regular</string>
				</dict>
				<key>font_spec_light</key>
				<dict>
					<key>font</key>
					<string>System-Light</string>
					<key>size</key>
					<real>11</real>
					<key>number_spacing</key>
					<string>proportional</string>
					<key>number_style</key>
					<string>regular</string>
				</dict>
				<key>font_spec_bold</key>
				<dict>
					<key>font</key>
					<string>System-Medium</string>
					<key>size</key>
					<real>11</real>
					<key>number_spacing</key>
					<string>proportional</string>
					<key>number_style</key>
					<string>regular</string>
				</dict>
			</dict>
			<key>header1</key>
			<dict>
				<key>font_spec</key>
				<dict>
					<key>font</key>
					<string>System-Light-Thin</string>
					<key>size</key>
					<real>28</real>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
			</dict>
			<key>title</key>
			<dict>
				<key>font_spec</key>
				<dict>
					<key>font</key>
					<string>System-Medium</string>
					<key>size</key>
					<integer>12</integer>
					<key>number_style</key>
					<string>regular</string>
					<key>number_spacing</key>
					<string>proportional</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
