<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guidance</key>
	<dict>
		<key>height</key>
		<integer>2</integer>
		<key>padding_top</key>
		<integer>0</integer>
		<key>guidance_type_optional_color</key>
		<array>
			<real>0.996</real>
			<real>0.823</real>
			<real>0.019</real>
			<integer>1</integer>
		</array>
		<key>guidance_type_required_color</key>
		<array>
			<real>0.8110000000000001</real>
			<real>0.243</real>
			<real>0.235</real>
			<integer>1</integer>
		</array>
		<key>dot_size</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
