<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HostBundleIdentifier</key>
	<string>$(WIRE_BUNDLE_ID)</string>
	<key>ApplicationGroupIdentifier</key>
	<string>group.${WIRE_BUNDLE_ID}</string>
	<key>WireGroupId</key>
	<string>${WIRE_BUNDLE_ID}</string>
	<key>AppIdentifierPrefix</key>
	<string>${AppIdentifierPrefix}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ImageNotificationExtension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(WIRE_BUNDLE_ID).image-notification</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>${WIRE_SHORT_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${WIRE_BUILD_NUMBER}</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionDefaultContentHidden</key>
			<true/>
			<key>UNNotificationExtensionCategory</key>
			<string>conversationCategoryRichImage</string>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>1</real>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content-extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>NotificationViewController</string>
	</dict>
</dict>
</plist>
