// 
// Wire
// Copyright (C) 2016 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
//

//
// This is the main file used by Framework targets on iOS.
// It gets included by {target}-ios.xcconfig
//



// Architectures
//
VALID_ARCHS[sdk=iphoneos*] = arm64 armv7
VALID_ARCHS[sdk=iphonesimulator*] = x86_64


// Deployment
//
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TARGETED_DEVICE_FAMILY = 1,2
DYLIB_INSTALL_NAME_BASE = @rpath
FRAMEWORK_VERSION = A


// Linking
//
OTHER_LDFLAGS = -ObjC
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS $(PLATFORM_DIR)/Developer/Library/Frameworks
