//
//  ios.xcconfig
//  zmessaging-cocoa
//
//  Created by Daniel Eggert on 12/05/14.
//  Copyright (c) 2014 Zeta Project Gmbh. All rights reserved.
//



//
// This is the main file used by Framework targets on iOS.
// It gets included by {target}-ios.xcconfig
//




// Architectures
//
SDKROOT = iphoneos
ARCHS = armv7 arm64


// Code Signing
//
CODE_SIGN_IDENTITY = iPhone Developer


// Deployment
//
IPHONEOS_DEPLOYMENT_TARGET = 8.0
TARGETED_DEVICE_FAMILY = 1,2
DYLIB_INSTALL_NAME_BASE = @rpath
FRAMEWORK_VERSION = A


// Linking
//
OTHER_LDFLAGS = -ObjC
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS $(PLATFORM_DIR)/Developer/Library/Frameworks
