//
//  project-debug.xcconfig
//  zmessaging-cocoa
//
//  Created by Daniel Eggert on 12/05/14.
//  Copyright (c) 2014 Zeta Project Gmbh. All rights reserved.
//

#include "warnings-debug.xcconfig"
#include "project-common.xcconfig"



// Architectures
//
ONLY_ACTIVE_ARCH = YES



// Deployment
//
COPY_PHASE_STRIP = NO


// LLVM - Code Generation
//
GCC_OPTIMIZATION_LEVEL = 0


// Swift Compiler - Code Generation
//
SWIFT_OPTIMIZATION_LEVEL = -Onone
OTHER_SWIFT_FLAGS = -D DEBUG
ENABLE_TESTABILITY = YES



// LLVM - Preprocessing
//
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 ZM_MAJOR_VERSION=$(MAJOR_VERSION) $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS_shared)
