// 
// Wire
// Copyright (C) 2021 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
// 

#include "../../../Configuration/Base.xcconfig"
#include "Warnings.xcconfig"
#include "Version.xcconfig"
#include "../../../../xcconfigs/ios.xcconfig"

// Packaging
//
INFOPLIST_EXPAND_BUILD_SETTINGS = YES

//Icon
ASSETCATALOG_COMPILER_APPICON_NAME = $(APPICON_NAME)

// Code Signing
CODE_SIGN_STYLE = Manual

// Build Options
//
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Search Paths
//
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build
HEADER_SEARCH_PATHS = $(inherited) "$(TARGET_TEMP_DIR)/DerivedSources"

// LLVM compiler - Language
GCC_PRECOMPILE_PREFIX_HEADER = YES

// LLVM compiler - Preprocessing

SHARED_CUSTOM_VALUES = APP_CENTER_APP_ID_KEY=$(APP_CENTER_APP_ID)
WIRE_SSO_URL_SCHEME = $(SSO_URL_SCHEME)
USE_APP_CENTER_KEY = $(USE_APP_CENTER)

CLANG_LINK_OBJC_RUNTIME = NO;
GCC_ENABLE_CPP_RTTI = NO;
SWIFT_INSTALL_OBJC_HEADER = NO;
SWIFT_OBJC_INTERFACE_HEADER_NAME = ;
SWIFT_PRECOMPILE_BRIDGING_HEADER = NO;
