//
// Wire
// Copyright (C) 2024 Wire Swiss GmbH
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
//

#include "../../../Configuration/Debug.xcconfig"
#include "./Project-Base.xcconfig"

// Architectures
//
ONLY_ACTIVE_ARCH = YES

// Build Options
//
DEBUG_INFORMATION_FORMAT = dwarf



// Deployment
//
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
ENABLE_TESTABILITY = YES

// Swift Compiler

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

// Code Generation
//
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone

// LLVM compiler - Preprocessing
//

IS_INTERNAL_BUILD = 1

DEVELOPER_MODE_ENABLED=1

GCC_PREPROCESSOR_DEFINITIONS = $(SHARED_CUSTOM_VALUES) $(OTHER_PREPROCESSOR_FLAGS) DEBUG=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(OTHER_PREPROCESSOR_FLAGS)

// WIRESTAN - Enabled the fake country in the phone number selection
OTHER_SWIFT_FLAGS = -Xfrontend -warn-long-function-bodies=10000 -Xfrontend -warn-long-expression-type-checking=10000 -DWIRESTAN -DDEBUG
