<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>50EA639A-273D-4253-B8D9-BC09B54D0DD8</key>
		<dict>
			<key>targetArchitecture</key>
			<string>armv7f</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPod5,1</string>
				<key>operatingSystemVersion</key>
				<string>8.0</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
