<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackupEnabled</key>
	<string>${BACKUP_ENABLED}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${WIRE_PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${WIRE_SHORT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${SSO_URL_SCHEME}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wire-invite</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${WIRE_URL_SCHEME}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${WIRE_BUNDLE_ID}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${WIRE_BUILD_NUMBER}</string>
	<key>CameraRollEnabled</key>
	<string>${CAMERA_ROLL_ENABLED}</string>
	<key>ClipboardEnabled</key>
	<string>$(CLIPBOARD_ENABLED)</string>
	<key>CountlyAppKey</key>
	<string>$(COUNTLY_APP_KEY)</string>
	<key>CountlyHost</key>
	<string>$(COUNTLY_HOST)</string>
	<key>CustomBackendEnabled</key>
	<string>${CUSTOM_BACKEND_ENABLED}</string>
	<key>EnableDeveloperMenu</key>
	<string>${DEVELOPER_MODE_ENABLED}</string>
	<key>FileSharingEnabled</key>
	<string>${FILE_SHARING_ENABLED}</string>
	<key>ForceCBREnabled</key>
	<string>${FORCE_CBR_ENABLED}</string>
	<key>ForceCallKitDisabled</key>
	<string>${FORCE_CALLKIT_DISABLED}</string>
	<key>ForceEncryptionAtRestEnabled</key>
	<string>$(FORCE_ENCRYPTION_AT_REST_ENABLED)</string>
	<key>GenerateLinkPreviewEnabled</key>
	<string>${GENERATE_LINK_PREVIEW_ENABLED}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>${APPLE_EXPORT_COMPLIANCE_CODE}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>tweetbot</string>
		<string>twitterrific</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>firefox</string>
		<string>org-appextension-feature-password-management</string>
		<string>shtps</string>
		<string>shtp</string>
		<string>brave</string>
		<string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LocationSharingEnabled</key>
	<string>${LOCATION_SHARING_ENABLED}</string>
	<key>MaxNumberAccounts</key>
	<string>${MAX_NUMBER_ACCOUNTS}</string>
	<key>MinTLSVersion</key>
	<string>$(MIN_TLS_VERSION)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow Wire to access your camera so you can place video calls and send photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Wire to access your contacts to connect you with others. We anonymize all information before uploading it to our server and do not share it with anyone else.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>In order to authenticate in the app allow Wire to access the Face ID feature.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Wire to access your location so you can send your location to others.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Wire to access your microphone so you can talk to people and send audio messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Wire to store pictures you take in the photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Wire to access pictures stored in photo library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>RedactedScript-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Black</string>
		<key>UIImageName</key>
		<string>Wire/Shield</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wire iOS Backup File</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.wire.backup-ios-underscore</string>
			<key>UTTypeSize320IconFile</key>
			<string>logo</string>
			<key>UTTypeSize64IconFile</key>
			<string>logo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>com.wire.backup-ios-underscore</string>
				<key>public.filename-extension</key>
				<array>
					<string>ios_wbu</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wire iOS Backup File</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.wire.backup-ios-hyphen</string>
			<key>UTTypeSize320IconFile</key>
			<string>logo</string>
			<key>UTTypeSize64IconFile</key>
			<string>logo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>com.wire.backup-ios-hyphen</string>
				<key>public.filename-extension</key>
				<array>
					<string>ios-wbu</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>Wire SSO URL Scheme</key>
	<string>${WIRE_SSO_URL_SCHEME}</string>
	<key>WireGroupId</key>
	<string>${WIRE_BUNDLE_ID}</string>
</dict>
</plist>
