<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WireAuthenticationEnabled</key>
	<string>$(WIRE_AUTHENTICATION_ENABLED)</string>
	<key>CreateLegacyBackupsEnabled</key>
	<string>$(CREATE_LEGACY_BACKUP_ENABLED)</string>
</dict>
</plist>
