<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Blacklist download interval</string>
			<key>Key</key>
			<string>ZMBlacklistDownloadInterval</string>
			<key>Titles</key>
			<array>
				<string>30 second</string>
				<string>5 minutes</string>
				<string>30 minutes</string>
				<string>2 hours</string>
				<string>6 hours</string>
			</array>
			<key>Values</key>
			<array>
				<string>30</string>
				<string>300</string>
				<string>1800</string>
				<string>7200</string>
				<string>21600</string>
			</array>
			<key>DefaultValue</key>
			<string>21600</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>DeveloperSettings</string>
</dict>
</plist>
