// 
// Wire
// Copyright (C) 2017 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
// 

#include "./Security-Flags.xcconfig"

WIRE_PRODUCT_NAME = Wire

EXCLUDED_ARCHS = i386

// Fix complier issue on Xcode 12.4: when a Carthage framework is imported: module 'XXX' was created for incompatible target arm64-apple-ios10.0
EXCLUDED_ARCHS[sdk=iphonesimulator14.4] = i386 arm64
