//
// Wire
// Copyright (C) 2024 Wire Swiss GmbH
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
//

WIRE_BUILD_NUMBER = 999999
SSO_URL_SCHEME = wire-sso-alpha
WIRE_URL_SCHEME = wire
WIRE_BUNDLE_ID = com.wearezeta.zclient.alpha

//Code Signing
CODE_SIGN_IDENTITY = Apple Development

DEVELOPMENT_TEAM = EDF3JCE8BC
PROVISIONING_PROFILE_SPECIFIER_APP = Wire iOS Alpha
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXT = Wire iOS Alpha Share Extension
PROVISIONING_PROFILE_SPECIFIER_NOTIFICATION_EXT = Wire iOS Alpha Notification Service Extension

// App icon from asset bundle
APPICON_NAME = AppIcon-Debug
