//
// Wire
// Copyright (C) 2026 Wire Swiss GmbH
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CLIPBOARD_ENABLED=0
FORCE_CBR_ENABLED=1
GENERATE_LINK_PREVIEW_ENABLED=0
CUSTOM_BACKEND_ENABLED=1
CAMERA_ROLL_ENABLED=0
MAX_NUMBER_ACCOUNTS=2
FILE_SHARING_ENABLED=0
FORCE_CALLKIT_DISABLED=0
LOCATION_SHARING_ENABLED=0

/// Whether encryption at rest is enabled and can't be disabled.

FORCE_ENCRYPTION_AT_REST_ENABLED=1

FEDERATION_ENABLED=1
USE_EMBEDDED_IDP_USER_AGENT=1
OPEN_LINKS_EXTERNALLY=1
