<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>NSOrderedSetAdditionTests</key>
		<dict>
			<key>testPerformanceOfSortedInsertions</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>ZMConversationTests</key>
		<dict>
			<key>testPerformanceOfLastReadMessage_IsOneOfFirst</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021974</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Dec 2014 15:15:31</string>
				</dict>
			</dict>
			<key>testPerformanceOfLastReadMessage_IsOneOfLast</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00032598</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Dec 2014 15:15:31</string>
				</dict>
			</dict>
			<key>testPerformanceOfLastReadMessage_Middle</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007318</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Dec 2014 15:15:31</string>
				</dict>
			</dict>
		</dict>
		<key>ZMManagedObjectContextTests</key>
		<dict>
			<key>testUpdatedKeysForRefreshPerformance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>10</real>
				</dict>
			</dict>
		</dict>
		<key>ZMManagedObjectTests</key>
		<dict>
			<key>testPerformanceOfFetchingObjectByRemoteIDWhenTheObjectIsRegisteredWithTheContext</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>ZMUserTests</key>
		<dict>
			<key>testPerformanceOfRetrievingSelfUser</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.03</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>ZMVoiceChannelTests</key>
		<dict>
			<key>testPerformanceOfGettingTheActiveVoiceChannel</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.04</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
