xcuserdata
DerivedData
*.xccheckout
.DS_Store
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.swp
xcuserdata
*.moved-aside
.idea/
Pods
Carthage/
*.xcuserstate
*.xcscmblueprint
Wire-iOS/ComponentsVersions.plist
/Libraries
/wire-ios-build-assets
.bundle/
SnapshotResults
Wire-iOS/Resources/Licenses.generated.plist
Scripts/**/.build
/fastlane/report.xml
/test
/fastlane/README.md
