<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ZMConversationTests</key>
		<dict>
			<key>testPerformanceOfLastReadMessage_IsOneOfFirst</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021974</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Dec 2014 15:15:31</string>
				</dict>
			</dict>
			<key>testPerformanceOfLastReadMessage_IsOneOfLast</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00032598</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Dec 2014 15:15:31</string>
				</dict>
			</dict>
			<key>testPerformanceOfLastReadMessage_Middle</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007318</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Dec 2014 15:15:31</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
