name: Development

on:
  workflow_dispatch:
  push:
    branches:
      - 'develop'

permissions: 
  checks: write

jobs:
  development:
    uses: ./.github/workflows/_reusable_app_release.yml
    with:
      fastlane_action: development
    secrets: inherit
