name: Run Tests

on:
  pull_request:
    branches: [ "develop" ]
      
jobs:
  # This job will tell us which frameworks have source code changes.
  # We'll use the results to run tests only for changed frameworks.
  detect-changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      wire-ios: ${{ steps.filter.outputs.wire-ios }}
      wire-ios-sync-engine: ${{ steps.filter.outputs.wire-ios-sync-engine }}
      wire-ios-data-model: ${{ steps.filter.outputs.wire-ios-data-model }}
      wire-ios-system: ${{ steps.filter.outputs.wire-ios-system }}
      wire-ios-request-strategy: ${{ steps.filter.outputs.wire-ios-request-strategy }}
      wire-ios-transport: ${{ steps.filter.outputs.wire-ios-transport }}
      wire-ios-share-engine: ${{ steps.filter.outputs.wire-ios-share-engine }}
      wire-ios-cryptobox: ${{ steps.filter.outputs.wire-ios-cryptobox }}
      wire-ios-mocktransport: ${{ steps.filter.outputs.wire-ios-mocktransport }}
      wire-ios-notification-engine: ${{ steps.filter.outputs.wire-ios-notification-engine }}
      wire-ios-protos: ${{ steps.filter.outputs.wire-ios-protos }}
      wire-ios-images: ${{ steps.filter.outputs.wire-ios-images }}
      wire-ios-link-preview : ${{ steps.filter.outputs.wire-ios-link-preview }}
      wire-ios-utilities: ${{ steps.filter.outputs.wire-ios-utilities }}
      wire-ios-testing: ${{ steps.filter.outputs.wire-ios-testing }}
      any: ${{ steps.filter.outputs.wire-ios == 'true' || steps.filter.outputs.wire-ios-sync-engine == 'true' || steps.filter.outputs.wire-ios-data-model == 'true' || steps.filter.outputs.wire-ios-system == 'true' || steps.filter.outputs.wire-ios-request-strategy == 'true' || steps.filter.outputs.wire-ios-transport == 'true' || steps.filter.outputs.wire-ios-share-engine == 'true' || steps.filter.outputs.wire-ios-cryptobox == 'true' || steps.filter.outputs.wire-ios-mocktransport == 'true' || steps.filter.outputs.wire-ios-notification-engine == 'true' || steps.filter.outputs.wire-ios-protos == 'true' || steps.filter.outputs.wire-ios-images == 'true' || steps.filter.outputs.wire-ios-link-preview == 'true' || steps.filter.outputs.wire-ios-utilities == 'true' || steps.filter.outputs.wire-ios-testing == 'true' }}
      
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            wire-ios:
              - 'wire-ios/**'
            wire-ios-share-engine:
              - 'wire-ios-share-engine/**'
            wire-ios-notification-engine:
              - 'wire-ios-notification-engine/**'
            wire-ios-sync-engine:
              - 'wire-ios-sync-engine/**'
            wire-ios-request-strategy:
              - 'wire-ios-request-strategy/**'
            wire-ios-data-model:
              - 'wire-ios-data-model/**'
            wire-ios-transport:
              - 'wire-ios-transport/**'
            wire-ios-cryptobox:
              - 'wire-ios-cryptobox/**'
            wire-ios-mock-transport:
              - 'wire-ios-mock-transport/**'
            wire-ios-protos:
              -  'wire-ios-protos/**'
            wire-ios-images:
              - 'wire-ios-images/**'
            wire-ios-link-preview:
              - 'wire-ios-link-preview/**'
            wire-ios-utilities:
              - 'wire-ios-utilities/**'
            wire-ios-testing:
              - 'wire-ios-testing/**'
            wire-ios-system:
              - 'wire-ios-system/**'  
            
  run-tests:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.any == 'true' }}
    runs-on: macOS-latest
    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
    steps:
      - uses: actions/checkout@v3
      - name: List available Xcode versions
        run: ls /Applications | grep Xcode
      
      - name: Select Xcode
        run: |
          sudo xcode-select -switch /Applications/Xcode_13.2.1.app
          /usr/bin/xcodebuild -version

      - name: Setup workspace
        run: |
          ./setup.sh
        
      - name: Test WireSystem
        if: ${{ needs.detect-changes.outputs.wire-ios-system == 'true' }}
        run: |
          echo "WireSystem has changes"
          echo "Building WireSystem..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireSystem -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireSystem..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireSystem -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireTesting
        if: ${{ needs.detect-changes.outputs.wire-ios-testing == 'true' }}
        run: |
          echo "WireTesting has changes"
          echo "Building WireTesting..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireTesting -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireTesting..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireTesting -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireUtilities
        if: ${{ needs.detect-changes.outputs.wire-ios-utilities == 'true' }}
        run: |
          echo "WireUtilities has changes"
          echo "Building WireUtilities..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireUtilities -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireUtilities..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireUtilities -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireCryptobox
        if: ${{ needs.detect-changes.outputs.wire-ios-cryptobox == 'true' }}
        run: |
          echo "WireCryptobox has changes"
          echo "Building WireCryptobox..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireCryptobox -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireCryptobox..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireCryptobox -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireTransport
        if: ${{ needs.detect-changes.outputs.wire-ios-transport == 'true' }}
        run: |
          echo "WireTransport has changes"
          echo "Building WireTransport..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireTransport -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireTransport..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireTransport -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireLinkPreview
        if: ${{ needs.detect-changes.outputs.wire-ios-link-preview == 'true' }}
        run: |
          echo "WireLinkPreview has changes"
          echo "Building WireLinkPreview..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireLinkPreview -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireLinkPreview..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireLinkPreview -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireImages
        if: ${{ needs.detect-changes.outputs.wire-ios-images == 'true' }}
        run: |
          echo "WireImages has changes"
          echo "Building WireImages..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireImages -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireImages..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireImages -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}          

      - name: Test WireProtos
        if: ${{ needs.detect-changes.outputs.wire-ios-protos == 'true' }}
        run: |
          echo "WireProtos has changes"
          echo "Building WireProtos..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireProtos -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireProtos..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireProtos -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}          
          
      - name: Test WireMockTransport
        if: ${{ needs.detect-changes.outputs.wire-ios-mocktransport == 'true' }}
        run: |
          echo "WireMockTransport has changes"
          echo "Building WireMockTransport..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireMockTransport -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireMockTransport..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireMockTransport -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireDataModel
        if: ${{ needs.detect-changes.outputs.wire-ios-data-model == 'true' }}
        run: |
          echo "WireDataModel has changes"
          echo "Building WireDataModel..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireDataModel -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireDataModel..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireDataModel -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireRequestStrategy
        if: ${{ needs.detect-changes.outputs.wire-ios-request-strategy == 'true' }}
        run: |
          echo "WireRequestStrategy has changes"
          echo "Building WireRequestStrategy..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireRequestStrategy -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireRequestStrategy..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireRequestStrategy -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test WireNotificationEngine
        if: ${{ needs.detect-changes.outputs.wire-ios-notification-engine == 'true' }}
        run: |
          echo "WireNotificationEngine has changes"
          echo "Building WireNotificationEngine..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireNotificationEngine -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireNotificationEngine..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireNotificationEngine -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}

      - name: Test WireShareEngine
        if: ${{ needs.detect-changes.outputs.wire-ios-share-engine == 'true' }}
        run: |
          echo "WireShareEngine has changes"
          echo "Building WireShareEngine..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireShareEngine -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireShareEngine..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireShareEngine -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}

      - name: Test WireSyncEngine
        if: ${{ needs.detect-changes.outputs.wire-ios-sync-engine == 'true' }}
        run: |
          echo "WireSyncEngine has changes"
          echo "Building WireSyncEngine..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme WireSyncEngine -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing WireSyncEngine..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme WireSyncEngine -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
          
      - name: Test Wire-iOS
        if: ${{ needs.detect-changes.outputs.wire-ios == 'true' }}
        run: |
          echo "Wire-iOS has changes"
          echo "Building Wire-iOS..."
          xcodebuild build -workspace wire-ios-mono.xcworkspace -scheme Wire-iOS -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          echo "Testing Wire-iOS..."
          xcodebuild test -workspace wire-ios-mono.xcworkspace -scheme Wire-iOS -destination 'platform=iOS Simulator,name=iPhone 8,OS=15.2' | xcpretty
          exit ${PIPESTATUS[0]}
      
